<div>
 <h1>プロフィール</h1>
 <h3><%= @customer.name %></h3>
  <%= image_tag @customer.get_profile_image %>
</div>

<h3>レビュー投稿一覧</h3>
<% @movies.each do |movie| %>
<div>
  <P>コメント
  <%= link_to movie.movie_content %>
  </P>
  <P>レビュー
    <div id="star-rate<%= movie.id%>">
    <script>
      $('#star-rate<%= movie.id %>').empty();　　//これがないとブラウザバックで星が増え続ける不具合が発生
      $('#star-rate<%= movie.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf  : '<%= asset_path('star-half.png') %>',
        readOnly  : true,　　//読み取り専用、編集できないようにする
        score: <%= movie.star.present?? movie.star : 0 %>
      });
    </script>
    </div>
  </P>
</div>
<% end %>