<div class="card">
 <div class="card-upperinfo">
  <h2 class="release-title"><%= @movie_data['table']['title'] %></h2>
  <p class="release-overview">あらすじ</br>
　 <%= @movie_data['table']['overview'] %>
　</p>
 </div>
  <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie_data['table']['poster_path'],class: "card-img" %></p>
</div>
<div>
 <p><%#= @movie_data['table']['cast'] %></p>
</div>



<div>
 <h2>投稿する</H2>

  <%= form_with model: @comment do |f| %>
   <!--<div class="form-group">-->
    <%#= f.label :title %>
    <%#= f.text_area :title, placeholder: 'タイトル', :size => "20×10" %>
   <!--</div>-->
   <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'タイトル' %>
   </div>
   <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :comment_content, placeholder: '本文' %>
   </div>
   <div class="form-group">
    <%= f.hidden_field :movie_id, value: @comment.movie_id %>
    <%= f.hidden_field :moviedata_id, value: @comment.moviedata_id %>
   </div>
   <div class="form-group">
    <%= f.submit '送信'%>
   </div>

 <h5>評価</h5>
 <div class="form-group row" id="star">
  <%= f.label :star, class:'col-md-3 col-form-label' %>
  <%= f.hidden_field :comment['star'], id: :review_star %>
 </div>
 <script>
  $('#star').empty(); 　　//これがないとブラウザバックで星が増え続ける不具合が発生
  $('#star').raty({
   size      : 36,
   starOff   : '<%= asset_path('star-off.png') %>',
   starOn    : '<%= asset_path('star-on.png') %>',
   starHalf  : '<%= asset_path('star-half.png') %>',
 　scoreName : 'comment[star]', 　//これがmovieモデルのstarカラムへ値を保存という意味
   half      : true
  });
 </script>
 <% end %>
 </div>



<div>
 <h2> 投稿一覧 </h2>
    <% @movie.comments.each do |comment| %>
      <p><%= link_to comment.customer.name, customer_path(comment.customer) %></p>
      <p>タイトル：<%= comment.title %></p>
      <p>コメント：<%= comment.comment_content %></p>
      <div id="star-rate<%= comment.id%>"></div>

     <script>
      $('#star-rate<%= comment.id %>').empty();　　//これがないとブラウザバックで星が増え続ける不具合が発生
      $('#star-rate<%= comment.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf  : '<%= asset_path('star-half.png') %>',
        readOnly  : true,　　//読み取り専用、編集できないようにする
        score: <%= comment.star.present? ? comment.star : 0 %>
      });
     </script>
    <%end%>
</div>
