

<h1>映画検索</h1>

<div>
  <%= form_tag(root_path, method: :get) do %>
    <%= search_field_tag :looking_for, nil, placeholder: '映画のタイトル' %>
    <%= select_tag :genre_id, options_for_select(@tmdb_genres, params[:genre_id]), include_blank: '選択してください'%>
    <%= submit_tag '検索', class: 'btn btn-success' %>
  <% end %>
</div>

<%# 検索された時にコンテンツを表示する %>
<% if params[:looking_for].present? %>
    <h2><%= params[:looking_for] %>の検索結果</h2>
<% elsif @tmdb_genre_name.present? %>
    <h2>ジャンル: <%= @tmdb_genre_name %>の検索結果</h2>
<% else %>
    <h2>公開中映画</h2>
<% end %>
=====================
<div class="card-wrapper">
    <% @tmdb_movies.each do |tmdb_movie| %>
        <div class="card">
            <div class="card-upperinfo">
                <% if tmdb_movie.title.present? %>
                    <% if Movie.where(moviedata_id: tmdb_movie.id).exists? %>
                      <h3><%= link_to "この作品の詳細を見る", movie_path(tmdb_movie.id) %></h3>
                    <% else %>
                      <h3><%= link_to "new", new_movie_path(moviedata_id: tmdb_movie.id) %></h3>
                    <% end %>
                <% end %>

                <% if tmdb_movie.release_date.present? %>
                 <p class="release-date"><%= tmdb_movie.release_date %></p>
                <% end %>
            </div>


            <% if tmdb_movie.poster_path.present? %>
                <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' +  tmdb_movie.poster_path, class: "card-img" %></p>
            <% end %>
        </div>
    <% end %>
</div>
