<header class="sticky-top">
    <% if customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
      </ul>
      <div><%= link_to 'ホーム', root_path %></div>
    </div>
    <!--<div class="search_form">-->
    <!--      <%= form_with url: root_path, local: true, method: :get do |f| %>-->
    <!--      <%= f.text_field :name, placeholder: "文字を入力", size: 10 %>-->
    <!--      <%= f.submit"検索" %>-->
    <!--      <% end %>-->
    <!--  </div>-->
</header>